<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">topic_name</label>
            <select name="tn" id="tn" multiple >
                {% for to in LTO %}
                 
                 <option value="{{to}}">{{to.topic_name}}</option><br><br>
                {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="retrieve_webpage">

        </form>
    </center>
</body>
</html>